body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.favorite-icon {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

.list-container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.item-list {
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border: 1px solid #ccc;
  padding: 8px 12px;
}

.filled {
  color: red
}

